@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');


body {
    font-family:'Roboto Condensed', sans-serif;
    font-weight:300;
    margin:0px;
    text-shadow:2px 2px 5px rgba(0,0,0,.3);
    margin-top:100px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  
   /* height: 90%;*/
}
main{
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
  /*  min-height: 84%;*/
    /*position: relative;
    display: block;*/
    /*min-height: calc(94vh - 80px);*/
    padding-bottom: 120px;
}

footer{
  /*  display: block;
    position: absolute;
    bottom: 0;
    left: 0;*/
    text-align: center;
    padding-top: 24;
    width: 100%;
    height: 60px;
    background: #7a7c7e;
 /*   flex: 0 0 auto;*/
    /*position: fixed; */
    position: absolute; 
    bottom: 0;
    width: 1000;
}



/*Главный заголовок*/
#main-header {
    border-bottom: 2px solid #000;
    position:absolute;
    width:100%;
    background: rgba(255,255,255,.7);
    top:0px;
    height:70px;
    text-align: center;
    font-weight: bold;
    font-size: 34px;

    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}


/*МЕНЮ*/
.navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}
.navbar li:hover ul {
     display: block; 
    }
.navbar, .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
}
.navbar li {
    float: left;
    position: relative;
    height: 100%;
}
.navbar li a {
    display: block;
    padding: 6px;
    width: 140px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.navbar ul li { float: none; }
.navbar li:hover { background-color: #f90; }
.navbar ul li:hover { background-color: #666; }

/*Мини меню*/
.submenu{
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
}
.submenu.navbar{
    display: none;
}
.mainmenu.navbar{
    display: block;
}
/*Конец меню*/


/*Главная секция со статьями*/
#main-section {
    max-width:1000px;
    margin:auto;
    margin-top: 20px;
    text-align:center;
}

/*Статьи*/
.article-git {
    vertical-align: top;
    width: 283px;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 0 10px 10px 10px;
    height:255px;
    font-weight:400;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    border-radius:10px 20px/30px 30px 40px;
    transition-delay: 3s;
    transition: box-shadow 300ms; 
    border-radius:70px 70px/0px 30px 30p; 
}  
.article-git:hover{
    box-shadow: 6px 6px 10px rgba(0,0,0,.7);
}  
.article-git img{
    width: 50%;
    height:100px;
}

  /*Правки для статетй вики*/
.article-wike{
    height:auto;
    font-weight:100;
    border:none;
    display: block;
    max-width: 800px;
    text-align: start;
    padding: 0px 50px;
}
.article-wike p{
    margin-top: 0px;
}
.article-wike h3{
    margin-bottom: 0px;
}

  /*Главное фото*/
.label-info {
    vertical-align: top;
    width: 400px;
    min-width: 280px;
}
.colon-spase{
    width: 50px;
}



 .label-info div{
    text-align:center;
    font-size: 18px;
 }


.img-myfoto{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: auto;
    display: block
 
}


.logo-resume {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 20 20 0 0;
    top: 0px;
    display: inline-block;
    vertical-align: top;
}


.blok-resume{
    width: 500;
}

.blok-resume div{
    display: inline-block;
    max-width: 400;
}


/*Анкета рекрутера*/
#form-anketa{
    display:block;
    max-width: 900;
    margin: auto;
}

.my-input{
    display:block;
    width:98%;
    margin:10px;
    padding: 10px 20px;
    border:1px solid;
    border-radius: 10px;
    resize:none;
}
.my-textarea {
    height:64px;
} 

.my-input:focus {
    background: #dae2e2;
    color:#2d88a3;
    outline:none;
}

#go-button{
    /*display:block;*/
    height:auto;
    width:98%;
    margin:10px;
    padding: 10px 20px;
    border-radius: 10px;
}

/*Секция для выбора проектов*/
#select-section{
    padding: 10px 30px 0px 30px;
    max-width: 900px;
    display:inline-block;
}
#select-section div{    
    display:inline-block;    
    color:#5f6466;
}
#select-section select{
    width: 145px;
    height: 20px;
    margin-right: 10;
    border-radius: 8px;
}

.nonepr{
    display: none;
}


/*Для топ-проектов*/
.top::before {
    content:"TOП";
    display:block;
    width: 50px;
    height: 20px;
    background: #d9d960;
    position: absolute;
    text-align:center;
    margin-top:10px;
    margin-left:10px;
    border-radius: 18px;
}



@media screen and (max-width: 650px) {
    /*.navbar{
        display: none;
    }*/
    .label-info{
        display: none;
    }  
    .submenu.navbar{
        display: block;
    }
    .mainmenu.navbar{
        display: none;
    }

}